<?xml version="1.0" encoding="Shift_JIS"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 


	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>filter.EncodingFilter</filter-class>		
	</filter>

<!--
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>filter.EncodingFilter2</filter-class>		
		<init-param>
			<param-name>encode</param-name>
			<param-value>Windows-31J</param-value>
		</init-param>
	</filter>
-->

	<filter>
		<filter-name>DebugFilter</filter-name>
		<filter-class>filter.DebugFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

<!--
	<filter-mapping>
		<filter-name>DebugFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
-->


    <!--invokerサーブレットがdisableでも動作するための設定-->
    <servlet>
        <servlet-name>ForwardServlet2</servlet-name>
        <servlet-class>dispatch.ForwardServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForwardServlet2</servlet-name>
        <url-pattern>/servlet/dispatch.ForwardServlet2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForwardServletA</servlet-name>
        <servlet-class>dispatch.ForwardServletA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForwardServletA</servlet-name>
        <url-pattern>/servlet/dispatch.ForwardServletA</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForwardServletB</servlet-name>
        <servlet-class>dispatch.ForwardServletB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForwardServletB</servlet-name>
        <url-pattern>/servlet/dispatch.ForwardServletB</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RandomWalkServlet</servlet-name>
        <servlet-class>dispatch.RandomWalkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RandomWalkServlet</servlet-name>
        <url-pattern>/servlet/dispatch.RandomWalkServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GuessNumberServlet</servlet-name>
        <servlet-class>guess.GuessNumberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuessNumberServlet</servlet-name>
        <url-pattern>/servlet/guess.GuessNumberServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>input.EchoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/servlet/input.EchoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EchoServlet2</servlet-name>
        <servlet-class>input.EchoServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchoServlet2</servlet-name>
        <url-pattern>/servlet/input.EchoServlet2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GuessServlet</servlet-name>
        <servlet-class>input.GuessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuessServlet</servlet-name>
        <url-pattern>/servlet/input.GuessServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MethodServlet</servlet-name>
        <servlet-class>input.MethodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MethodServlet</servlet-name>
        <url-pattern>/servlet/input.MethodServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ParamListServlet</servlet-name>
        <servlet-class>input.ParamListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParamListServlet</servlet-name>
        <url-pattern>/servlet/input.ParamListServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GuessServlet_2</servlet-name>
        <servlet-class>reqattr.GuessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuessServlet_2</servlet-name>
        <url-pattern>/servlet/reqattr.GuessServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet2A</servlet-name>
        <servlet-class>reqattr.Servlet2A</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet2A</servlet-name>
        <url-pattern>/servlet/reqattr.Servlet2A</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet2B</servlet-name>
        <servlet-class>reqattr.Servlet2B</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet2B</servlet-name>
        <url-pattern>/servlet/reqattr.Servlet2B</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet3A</servlet-name>
        <servlet-class>reqattr.Servlet3A</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet3A</servlet-name>
        <url-pattern>/servlet/reqattr.Servlet3A</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletA</servlet-name>
        <servlet-class>reqattr.ServletA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletA</servlet-name>
        <url-pattern>/servlet/reqattr.ServletA</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletB</servlet-name>
        <servlet-class>reqattr.ServletB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletB</servlet-name>
        <url-pattern>/servlet/reqattr.ServletB</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CounterServlet</servlet-name>
        <servlet-class>session.CounterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CounterServlet</servlet-name>
        <url-pattern>/servlet/session.CounterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CounterServlet2</servlet-name>
        <servlet-class>session.CounterServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CounterServlet2</servlet-name>
        <url-pattern>/servlet/session.CounterServlet2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GuessServlet_3</servlet-name>
        <servlet-class>session.GuessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuessServlet_3</servlet-name>
        <url-pattern>/servlet/session.GuessServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SessionListServlet</servlet-name>
        <servlet-class>session.SessionListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionListServlet</servlet-name>
        <url-pattern>/servlet/session.SessionListServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BMIServlet</servlet-name>
        <servlet-class>validate.BMIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BMIServlet</servlet-name>
        <url-pattern>/servlet/validate.BMIServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EtoServlet</servlet-name>
        <servlet-class>validate.EtoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EtoServlet</servlet-name>
        <url-pattern>/servlet/validate.EtoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EtoServlet2</servlet-name>
        <servlet-class>validate.EtoServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EtoServlet2</servlet-name>
        <url-pattern>/servlet/validate.EtoServlet2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EtoServlet3</servlet-name>
        <servlet-class>validate.EtoServlet3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EtoServlet3</servlet-name>
        <url-pattern>/servlet/validate.EtoServlet3</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GuessServlet_4</servlet-name>
        <servlet-class>validate.GuessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuessServlet_4</servlet-name>
        <url-pattern>/servlet/validate.GuessServlet</url-pattern>
    </servlet-mapping>
	

</web-app>
